/* Efeitos pagina de Contato */
#Contato:hover {
    transform: scale(1.02);
}


#Contato textarea:focus {
    background-color: #1d1210;
    transition: all 0.5s;
}

.campoResposta:focus {
    background-color: #1d1210;
    transition: all 0.5s;
}


#Contato button.botao:hover {
    background-color: #1d1210;
    transition: all 0.7s;
}


/* Efeitos pagina inicial */
nav.navegacao_principal {
    transition: all 0.3s ease;

}

.navegacao_principal a {
    transition: all 0.3s ease;

}

/* Efeitos para mudar coloracao do selection e fazer a logo girar, também adiciona efeitos nos produtos */
.navegacao_principal a:hover {
    transform: translateX(50px);
    background-color: lightcoral;
}

.caixa_branca:hover{
    transform: scale(1.02);
}

::selection {
    color: white;
    background-color: black;
}

.produto img {
  transition: transform 0.4s ease; 
  cursor: pointer; 
  border-radius: 8px; 
}

.produto img:hover {
  transform: scale(1.1); 
}
.descricao:hover{
    transform:scale(1.1);

}

.spinning {
      animation: spin 3s linear infinite;
    }

@keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

/* Mude aqui igor*/