* {
    margin: 0;
    padding: 0;
    color: white;
}

html {
    background-color: #D9C6B0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #402814;
    text-align: center;
    padding: 10px 0;
}

header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    vertical-align: middle;
}

.logo_principal {
    width: 50px;
    margin-right: 20px;
    vertical-align: middle;
}

.navegacao_principal {
    text-align: left;
    margin: 20px;
}

.navegacao_principal ul {
    list-style: none;
    padding-left: 0;
}

.navegacao_principal li {
    margin-bottom: 10px;
}

.navegacao_principal a {
    color: white;
    text-decoration: none;
    padding: 5px 0;
}

.texto_intro {
    margin: 20px;
}

section {
    margin: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: rgb(50, 50, 50);
}
