* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #D9C6B0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #402814;
    text-align: center;
    padding: 10px 0;
}

header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    vertical-align: middle;
}

.logo_principal {
    width: 50px;
    margin-right: 20px;
    vertical-align: middle;
}

.navegacao_principal {
    text-align: left;
}


.navegacao_principal li {
    margin-bottom: 10px;
}

.navegacao_principal a {
    color: black;
    padding: 5px 0;
}

.texto_intro {
    margin: 20px;
}

section {
    margin: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: rgb(50, 50, 50);
}

.conteudo_centralizado {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.caixa_branca {
    background-color: white;
    color: black;
    padding: 30px;
    margin: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
